<h3 style="text-align:center;"> User Membership Change Log </h3>

<table class="table table-hover">
<thead>
    <tr>
      <th>User Updated</th>
      <th>Old Membership</th>
      <th>New Membership</th>
      <th>Changed By</th>
      <th>Date/Time Updated</th>
    </tr>
</thead>
  <tbody >
    <% @histories.each do |record| %>
      <tr>
        <td class="changed_name"><%= record.user_changed_name%></td>
        <td class="old"><%= record.old_membership%></td>
        <td class="new"><%= record.new_membership%></td>
        <td class="changed_by_name"><%= record.changed_by_name%></td>
        <td><%= record.created_at.in_time_zone("Pacific Time (US & Canada)").strftime("%B %d, %Y %I:%M:%S %p %Z")%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Back", :back %>
