<% if notice %>
    <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
<% end %>

<p class="navbar-text pull-right">


    <% if user_signed_in? %>
        Hi <strong><%= current_user.name %></strong>, You have <%= @todayEvents %> activities today! Logged in as <strong><%= current_user.email %></strong>.
        
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %> |
        <%= link_to "Book Lesson", booking_path, :class => 'navbar-link'  %>
        <br> <%= link_to "My Profile Page", member_profile_path %>
         <table class="table table-hover">
        <% @calendarsShow.each do |calendar| %>                    
            <tr>
              <td><%= calendar.name%></td>
              <td><%= calendar.start_time%></td>
              <td><%= link_to "Details", calendar_path(calendar), :class => 'navbar-link' %> </td>
            </div>
            </tr>
        <% end %>
        
        </table>
        <%= link_to "More...", user_calendar_path, :class => 'navbar-link' %>
        <p></p>
        <%= link_to "Manage my Calendar", calendars_path, :class => 'navbar-link' %>
    <% else %>
        <div id = "container">
            <div id = "navbar">
                <ul>
                    <li><%= link_to "Get a Pass", pass_path, :class => 'navbar-link-black'  %></li>
                    <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link-black'  %></li>
                    <li><a class = "link-color" href="#home">Community</a></li>
                    <li><a class = "link-color" href="#home">Pricing</a></li>
                    <li><a class = "link-color" href="#home">How it works</a></li>
                    <li><a class = "link-color" href="#home">Why Table Tennis</a></li>
                </ul>
            </div>
            <div class = "left_side"> 
                <div class = "word_container">
                    <h1>Every Ball Counts</h1>
                    <div class = "word_text">
                        Committing is hard, Count is time Consuming -- 
                        so don't. Let us help you figure out the statistics 
                        that will improve your level. Try one Table Tennis Lesson 
                        -- absolutely for free. 
                    </div>
                    <button class = "button_container">Try for Free</button>
                    <button class = "button_container">Learn more</button>
                </div>
                
            </div>
            <div class = "right_side">
                
            </div>
            
        </div>
    <% end %>    


