<% if !flash[:error].blank? %> 
   <div class="flashNotice col last">
     <% if !flash[:email1].blank? %>
      <div class="alert alert-danger"><a href="#" class="alert-link"><%= flash[:email1]%></a></div>
    <% end %> 
    <% if !flash[:email2].blank? %> 
      <div class="alert alert-danger"><a href="#" class="alert-link"><%= flash[:email2]%></a></div>
    <% end %>
    <% if !flash[:both].blank? %> 
      <div class="alert alert-danger"><a href="#" class="alert-link"><%= flash[:both]%></a></div>
    <% end %>
<% end %>
<div>Please leave both emails empty for a club event. </div>
<%= form_with(model: calendar, local: true) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, :required => true, class: 'form-control form-control-sm' %>
  </div>

  <div class="field">
    
    <%= form.label "Student Email" %>
    <% if params['id'] != nil and Calendar.where(:id => params['id']).first.UserId != nil  %>
        <%= form.text_field :email1, :value => User.where(:id => Calendar.where(:id => params['id']).first.UserId).first.email, class: 'form-control form-control-sm'  %>
    <% else %> 
      <%= form.text_field :email1, class: 'form-control form-control-sm' %>
    <% end %> 
    
  </div>

  <div class="field">
    <%= form.label "Coach Email" %>
    <% if params['id'] != nil and Calendar.where(:id => params['id']).first.OtherId != nil %>
      <%= form.text_field :email2, :value => User.where(:id => Calendar.where(:id => params['id']).first.OtherId).first.email, class: 'form-control form-control-sm'  %>
    <% else %> 
      <%= form.text_field :email2, class: 'form-control form-control-sm' %>
    <% end %> 

  </div>

<div class="row">
  <div class="field col">
    <%= form.label :start_time %>
    <%# <div class='form-control form-control-sm'> %>
    <%= form.datetime_select :start_time, ampm: true%>
    <%# </div> %>
  </div>

  <div class="field col">
    <%= form.label :end_time %>
    <%# <div class='form-control form-control-sm'> %>
    <%= form.datetime_select :end_time, ampm: true %>
    <%# </div> %>
  </div>
 </div> 

  <div class="field">
    <%= form.label :details %>
    <%= form.text_field :details,  :class => "detailsBox", class: 'form-control form-control-sm' %>
  </div>
  
  <div class="field form-check">
    <%= form.check_box :conflict, {checked: true, class: 'form-check-input'}, "Conflict", "None" %>
    <%= form.label :conflict, class: 'form-check-label' %>

  </div>


  <div class="actions">
    <%= form.submit :Submit, :id => "Submit", class: 'btn btn-primary' %>
  </div>
<% end %>
