
<p id="notice"><%= notice %></p>

<h1>Calendar</h1>

<%= month_calendar events: @calendars do |date, calendar| %>
      <strong></strong></string><%=date.day%></strong>
    
      <% calendar.each do |calendar| %>
        <div>
          <%= link_to calendar.name, calendar_path(calendar), :class => 'navbar-link' %>
        </div>
      <% end %>
    <% end %>
<br>

<% if @admin %>
     <!--link_to "Create Event", new_calendar_path, :class => 'navbar-link'  %>-->
<% end %>


<%= link_to 'New Calendar', new_calendar_path %>
<%= link_to "Back to Profile", root_path %>
