<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @calendar.name %>
</p>

<p>
  <strong>Userid:</strong>
  <%= @calendar.UserId %>
</p>

<p>
  <strong>Otherid:</strong>
  <%= @calendar.OtherId %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @calendar.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @calendar.end_time %>
</p>

<p>
  <strong>Typeevent:</strong>
  <%= @calendar.typeEvent %>
</p>

<%= link_to 'Edit', edit_calendar_path(@calendar) %> |
<%= link_to 'Back', calendars_path %>
