<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @calendar.name %>
</p>

<p>
  <strong>Userid:</strong>
  <%= @calendar.UserId %>
</p>

<p>
  <strong>Otherid:</strong>
  <%= @calendar.OtherId %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @calendar.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @calendar.end_time %>
</p>

<p>
  <strong>Details:</strong>
  <%= @calendar.details %>
</p>

<%= link_to 'View Calendar', calendars_path %> |
<%= link_to "Back to Profile", root_path, :class => 'navbar-link'  %>
