<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @calendar.name %>
</p>
<% if @calendar.UserId != nil %>
  <p>
  <strong>Your name:</strong>
  <%= User.all.where(:id => @calendar.UserId).first.name %>
  </p>
<% end %> 
<% if @calendar.OtherId != nil %>
  <p>
  <strong>Coach's Name:</strong>
  <%= User.all.where(:id => @calendar.OtherId).first.name %>
  </p>
<% end %> 

<p>
  <strong>Start time:</strong>
  <%= @calendar.start_time.rfc2822() %>
</p>

<p>
  <strong>End time:</strong>
  <%= @calendar.end_time.rfc2822() %>
</p>

<p>
  <strong>Details:</strong>
  <%= @calendar.details %>
</p>

<%= link_to 'View Calendar', calendars_path %> |
<%= link_to "Back to Profile", root_path, :class => 'navbar-link'  %> |
<% if current_user.membership != "Coach" or current_user.membership != "Administrator" %>
  <%= link_to "Delete", calendar_path(@calendar.id), method: :delete, data: { confirm: 'Are you certain you want to delete this?' } %>
 | <%= link_to 'Edit Event', edit_calendar_path %> 
<% end %> 



