
<p> <h5 style="text-align:center;"> <%= @name %> | <%= @membership %></h5>

<div class="text-center">
  <a href="<%= membership_status_path %>" class="btn btn-primary active" role="button" aria-pressed="true">Edit Membership Statuses</a>  
  <a href="<%= payment_package_path %>" class="btn btn-primary active" role="button" aria-pressed="true">Edit Payment Packages</a>  
</div>


<br> <%= link_to "Home", root_path %>
</p>

