<% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
<% end %>

<h2> Current Availabilities </h2>

<table class="table table-hover">
  <tbody >
    <% if @time_table.empty? %>
      <h3> No Availabilities Found </h3>
    <% end %>
    <% @time_table.each do |record| %>
      <tr>
        <td><%= record.day%></td>
        <td><%= record.start_time.strftime("%l:%M%p")%> - <%= record.end_time.strftime("%l:%M%p") %> </td>
        <td> <%= form_for :user, url: "/users/profile/availabilities/#{record.id}", method: 'delete' do |f| %>
          <%= f.submit 'Delete', id: record.id.to_s + '_delete' %>
        <% end %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_for :user, url: add_availabilities_path do |f| %>
  <div class="date">
    Choose Date: <br />
    <%= f.select :day, Date::DAYNAMES %> <br />
    Start Time: <br />
    <%= f.select :start_time, CoachAvailability.availibility %> :
    <%= f.select :start_time_s, ['00', '30'] %> 
    <%= f.select :start_time_ampm, ['AM', 'PM'] %> <br /> 
    End Time: <br />
    <%= f.select :end_time, CoachAvailability.availibility %> :
    <%= f.select :end_time_s, ['00', '30'] %>
    <%= f.select :end_time_ampm, ['AM', 'PM'] %><br />
    <%= f.submit value: 'Add availibility' %>
  </div>
<% end %>