<%= form_for :user, url: view_booking_path do |f| %>
    <div class="coaches">
      Choose Coach: <br />
      <% options = options_from_collection_for_select(@coaches, 'id', 'name') %>
      <%= f.select :coach,  options %>
    </div>

    <%= f.submit value: 'View availabilities' %>
  <% end %>

<% if flash[:coach] %>
  <%= form_for :user, url: confirmation_booking_path do |g| %>
    <% CoachAvailability.this_week(flash[:coach].to_i).each do |day, coach_availabilities|  %>
      <table class="table table-hover">
        <tbody>
          <% if coach_availabilities.empty? %>
            <%= 'No Availabilities Found for ' + day %>
          <% else %>
            <%= 'Availabilities for ' + day%>
            <% coach_availabilities.each do |record| %>
              <tr>
                <td><%= g.radio_button :temp_availability, record.day + record.start_time.strftime("%l:%M%p") + " - " + record.end_time.strftime("%l:%M%p"), value: record.day + record.start_time.strftime("%l:%M%p") + " - " + record.end_time.strftime("%l:%M%p") %></td>
                
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    <% end %>
  <%= g.submit value: 'Next' %>
  <% end %>
<% end %>

<%= link_to 'Back', root_path %>
