<% if flash[:alert] %>
  <p class="alert alert-danger"><%= flash[:alert] %></p>
<% end %>

<%= form_for :user, url: view_booking_path do |f| %>
  <div class="coaches">
    Choose Coach: <br />
    <% options = options_from_collection_for_select(@coaches, 'id', 'name') %>
    <%= f.select :coach,  options %>
  </div>

  <div class="date">
    Choose Date: <br />
    <% temp_month = DateTime.now.strftime("%B") %>
    <% temp_day = DateTime.now.day %>
    <% if flash[:month] %>
      <% temp_month = flash[:month] %>
      <% temp_day = flash[:day] %>
    <% end %>
    <%= f.select :month, Date::MONTHNAMES, :selected => temp_month %>
    <%= f.select :day, 1..31, :selected => temp_day %>
  </div>

  <%= f.submit value: 'View availabilities' %>
<% end %>


<% if flash[:coach] %>
  <%= form_for :user, url: confirmation_booking_path do |g| %>
    <% month_index = Date::MONTHNAMES.index(flash[:month]) %>
    <% CoachAvailability.where(:coach_id => flash[:coach].to_i, :day => DateTime.new(DateTime.now.year.to_i, month_index, flash[:day].to_i).strftime("%A")).each do |record| %>
      <table class="table table-hover">
        <tbody>
          <% start_slot = record.start_time%>
          <% end_slot = start_slot + 1.hours %>

          <% while (!(start_slot.seconds_since_midnight.to_i == record.end_time.seconds_since_midnight.to_i) & !(end_slot.seconds_since_midnight.to_i > record.end_time.seconds_since_midnight.to_i)) %>
            <tr>
              <% if Booking.check_time_slot(start_slot, end_slot, flash[:coach].to_i, [month_index, flash[:day]]) %>
                <td><%= g.radio_button :temp_availability, start_slot.to_s + "," + end_slot.to_s%></td>
                <td><%= g.label :temp_availability, start_slot.strftime("%l:%M%p") + " - " + end_slot.strftime("%l:%M%p").strip%></td>
                <td><%= hidden_field_tag(:month, month_index) %></td>
                <td><%= hidden_field_tag(:day, flash[:day]) %></td>
                <td><%= hidden_field_tag(:coach_id, flash[:coach]) %></td>
              <% end %>
            </tr>
            <% start_slot = start_slot + 30.minutes %>
            <% end_slot = end_slot + 30.minutes %>
          <% end %>

        </tbody>
      </table>
    <% end %>
  <%= g.submit value: 'Next' %>
  <% end %>
<% end %>

<%= link_to 'Back', root_path %>
