<table class="table table-hover">
<h2 style="text-align:center;"> My Events </h2>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start time</th>
      <th>End time</th>

      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @calendars.each do |calendar| %>
      <tr>
        <td><%= calendar.name %></td>

        <td><%= calendar.start_time.strftime('%a %m/%d/%Y %I:%M%p') %></td>
        <td><%= calendar.end_time.strftime('%a %m/%d/%Y %I:%M%p') %></td>
        <td><%= link_to "Details", calendar_path(calendar), :class => 'navbar-link' %> </td>
         <!--link_to 'Edit', edit_calendar_path(calendar)-->
        <% if current_user.membership == "Administrator" %> 
          <td><%= link_to 'Delete',  calendar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to "Back to Profile", member_profile_path, class: 'btn btn-link'  %> |

 <%= link_to "View Calendar", calendars_path, class: 'btn btn-link' %>

<br>
