
<p> <h5 style="text-align:center;"> <%= @name %> | <%= @membership %></h5>

<div class="card-deck">
<div class="card">
  <div class="card-body">
<table class="table table-hover">
<thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Membership Status</th>
      <th>Change Status</th>
      <th></th>
    </tr>
</thead>
<% @users.each do |user| %>                    
    <tr>
      <td class="name"><%= user.name%></td>
      <td class="email"><%= user.email%></td>
      <td class="membership"><%= user.membership %></td>
      <td>
      <%= form_for :user, :namespace => user.name, :url => '/user/profile/update_other', :html => { :method => 'post'} do |f| %>
        <%= f.select(:membership, User.admin_update_membership_to(user), {disabled: '', selected: '', required: true}, class: 'form-control form-control-sm')  %>
        </td>
        <%= hidden_field_tag(:id, user.id) %>
        <td>
        <%= f.button 'Update', value: user.name+'_update', class: 'button btn btn-primary btn-sm', type: 'submit' %></td>
      <% end %>
      </td>
    </tr>
<% end %>
</table>
</div>
</div>
</div>

<br> <%= link_to "User Membership Change Log", membership_history_path, method: :get, :class => 'navbar-link'  %>
<br> <%= link_to "Back", member_profile_path %>
</p>

