<% if flash[:alert] %>
  <p class="alert alert-danger"><%= flash[:alert] %></p>
<% end %>

<div class="card-deck">
<div class="card">
  <div class="card-body">
<table class="table table-hover">
<h2 style="text-align:center;"> Edit Membership Statuses </h2>
<thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Membership Status</th>
      <th>Change Status</th>
      <th></th>
    </tr>
</thead>
<% @users.each do |user| %>                    
    <tr>
      <td class="name"><%= user.name%></td>
      <td class="email"><%= user.email%></td>
      <td class="membership"><%= user.membership %></td>
      <td>
      <%= form_for :user, :namespace => user.name, :url => '/user/profile/update_other', :html => { :method => 'post'} do |f| %>
        <%= f.select(:membership, User.admin_update_membership_to(user), {disabled: '', selected: '', required: true}, class: 'form-control form-control-sm')  %>
        <%= hidden_field_tag(:id, user.id) %>
        <%= f.button 'Update', value: user.name+'_update', class: 'btn btn-primary btn-sm', type: 'submit' %>
      <% end %>
    </tr>
<% end %>
</table>
</div>
</div>
</div>

<br> <%= link_to "User Membership Change Log", membership_history_path, method: :get, :class => 'btn btn-link'  %>
<%= link_to "Back", member_profile_path, :class => 'btn btn-link' %>
</p>

