<h3 style="text-align:center;"> Resolve Conflicts Log </h3>

<table class="table table-hover">
<thead>
    <tr>
      <th>Event Name</th>  
      <th>Club Member</th>
      <th>Club Member Email</th>
      <th>Coach</th>
      <th>Coach Email</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Edit Event</th>
    </tr>
</thead>
  <tbody >
    <% @calendar.each do |record| %>
      <tr>
        <td class="event_name"><%= record.name%></td>
        <td class="club_member"><%= User.find(record.UserId).name%></td>
        <td class="club_member_email"><%= User.find(record.UserId).email%></td>
        <td class="coach"><%= User.find(record.OtherId).name%></td>
        <td class="coach_email"><%= User.find(record.OtherId).email%></td>
        <td class="start_time"><%= record.start_time%></td>
        <td class="end_time"><%= record.end_time%></td>
        <td class="edit">      
            <%= link_to "Resolve", edit_calendar_path(record.id) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Back", :back %>
