<%= form_tag charges_path do %>
    <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
  <p>
  Number of Group Lesson Credits in Cart: <%= @group_num_credit %> ($<%= @group_cost %> per credit)<br />
  Number of Assigned Private Lesson Credits in Cart: <%= @assigned_num_credit %> ($<%= @assigned_private_cost %> per credit)<br />
  Number of Custom Private Lesson Credits in Cart: <%= @custom_num_credit %> ($<%= @custom_private_cost %> per credit)<br />
  <label class="amount">
    <span>Total Amount: <%= number_to_currency(@amount) %></span>
  </label>
  <br> <%= link_to "Back to Cart", new_charge_path, :class => 'navbar-link'  %>
  </p>
  </article>
  <article>
  <%= hidden_field_tag(:amount, @amount) %>
  <%= hidden_field_tag(:group_num_credit, @group_num_credit) %>
  <%= hidden_field_tag(:assigned_num_credit, @assigned_num_credit) %>
  <%= hidden_field_tag(:custom_num_credit, @custom_num_credit) %>
  </article>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" 
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Class Credits"
          data-amount=@amount
          data-locale="auto"></script>
<% end %>
