<%= form_tag charges_path do %>
    <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
  <p>
  Single Class Price (1 hour): <%= number_to_currency(@amount)  %><br />
  Number of Hours Booked: <%= @number_hours %><br />
  Event Start: <%= @event_start.strftime("%m/%d/%Y")%> at <%= @event_start.strftime("%I:%M%p") %><br />
  Event End:  <%= @event_end.strftime("%m/%d/%Y")%> at <%= @event_end.strftime("%I:%M%p") %><br />
  <label class="amount">
    <span>Total Amount: <%= number_to_currency(@amount) %></span>
  </label>
  <br> <%= link_to "Back to Booking", booking_path, :class => 'navbar-link'  %>
  </p>
  </article>
  <article>
  <%= hidden_field_tag(:amount, @amount) %>
  <%= hidden_field_tag(:event_start, @event_start) %>
  <%= hidden_field_tag(:event_end, @event_end) %>
  <%= hidden_field_tag(:event_start_time, @event_start.strftime("%I:%M%p")) %>
  <%= hidden_field_tag(:event_end_time, @event_end.strftime("%I:%M%p")) %>
  <%= hidden_field_tag(:month, @month) %>
  <%= hidden_field_tag(:day, @day) %>
  <%= hidden_field_tag(:coach_id, @coach) %>
  </article>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" 
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Class Credits"
          data-amount=@amount
          data-zip-code="true"
          data-billing-address="true"
          data-locale="auto"></script>
<% end %>
