<nav class="navbar navbar-expand-lg navbar-light bg-light">

<a class="navbar-brand" href="/">Project Elevate</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">

<% if user_signed_in? %>

      <li class="nav-item">
        <a class="nav-link" href="<%= booking_path %>">Book Lesson</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= member_profile_path %>">View Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= edit_user_registration_path %>">Edit Profile</a>
      </li>
      <% if current_user.membership == 'Administrator' %>
        <li class="nav-item">
            <a class="nav-link" href="<%= payment_package_path %>">Edit Payment Packages</a>
        </li>
    <% end %>
      <li class="nav-item">
        <%= link_to "Logout", destroy_user_session_path, :class => 'nav-link', method: :delete %>
      </li>


    <% else %>
      <li class="nav-item">
        <li><%= link_to "Login", new_user_session_path, :class => 'nav-link'  %></li>
      </li>

    <% end %>

    </ul>
</nav>